html 
    head 
        title="Mi primer medido pugsiano"
    body 
        form(action='/productos' method='POST')
            label Name
            input(type='text' name='title'  required='')
            label Price
            input(type='text' name='price' required='')
            button(type='submit') Add Product
        script(type='text/javascript', src='./form')
                    



        
    